



<script type="text/javascript">

	var geocoder;
	var map;
 
	function codeAddress() {
		console.log('a');
		//if they use zipcode, grab city cnetorid
		geocoder = new google.maps.Geocoder();
		console.log('b');
		var address = document.getElementById("address").value;
		console.log('c');
		geocoder.geocode( { 'address': address}, function(results, status) {
		console.log('d');
			  if (status == google.maps.GeocoderStatus.OK) {
					console.log('sending user to <?php echo $this->Html->url(array(    "controller" => "pinnings",    "action" => "index"  ));?>?centroid=' + results[0].geometry.location.lat() +"," + results[0].geometry.location.lng());
					window.location = "<?php echo $this->Html->url(array(    "controller" => "pinnings",    "action" => "index"  ));?>?centroid=" + results[0].geometry.location.lat() +"," + results[0].geometry.location.lng() ;				
			  } else {
		console.log('fail');
				alert("Geocode was not successful for the following reason: " + status);
			  }
		});
	}

	
	function initialize() {			
		
		//if they alklow html5 api, use it
		//Thanks to http://html5doctor.com/finding-your-position-with-geolocation/ for the geolocation code and direction!
		if (navigator.geolocation) {
		  var timeoutVal = 10 * 1000 * 1000;
		  navigator.geolocation.getCurrentPosition(
			displayPosition, 
			displayError,
			{ enableHighAccuracy: true, timeout: timeoutVal, maximumAge: 0 }
		  );
		}
		else {
		  alert("Geolocation is not supported by this browser");
		}

		
	}
	
	
	//locked on to position captain, zero the lasers!
	function displayPosition(position) {
		window.location = "<?php echo $this->Html->url(array(    "controller" => "pinnings",    "action" => "index"  ));?>?centroid=" + position.coords.latitude +  "," + position.coords.longitude ;
	}
	
	//Kabooom!!
	function displayError(error) {
		  var errors = { 
			1: 'Permission denied',
			2: 'Position unavailable',
			3: 'Request timeout'
		  };
		 console.log("Error Using HTML 5 geolocation: " + errors[error.code]);
	}
	
		
</script>

  <div class="index">
  <form onsubmit="codeAddress();return false;">
    <input id="address" type="textbox" value="Bostom, MA">
	<div calss="submit">
		<input type="button" value="Find Me" onclick="codeAddress()" >
	</div>
	</form>
  </div>








<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Pinning'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Food Trucks'), array('controller' => 'food_trucks', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Food Truck'), array('controller' => 'food_trucks', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Users'), array('controller' => 'users', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New User'), array('controller' => 'users', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Qualityes'), array('controller' => 'qualities', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Quality'), array('controller' => 'qualities', 'action' => 'add')); ?> </li>
	</ul>
</div>
